@font-face {
  font-family: oxygen;
  src: "oxygen.ttf";
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  height: 100%;
}

.reports {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  margin-bottom: 5rem;
  width: 90%;
}

.logo-light path {
  fill: #4422dd;
}

.logo-dark path {
  fill: white;
}

.CURRENT {
  background: #388e3c;
  width: 40px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DUE {
  background: #fdd835;
  color: black;
  width: 40px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OVERDUE {
  background: #d32f2f;
  width: 40px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipper {
  position: absolute;
  display: block;
  transform: rotate(-90deg);
}
