@font-face {
  font-family: oxygen;
  src: "oxygen.ttf";
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  height: 100%;
}

.reports {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  margin-bottom: 5rem;
  width: 90%;
}
